<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Summary</h2>
    <div class="summary">
        <center>
            <p>“O sed fugit interea fugit irreparabile tempus audeamus nunc.” <i class="fa fa-hourglass-half"></i>
                ― <i><a href="https://www.youtube.com/channel/UC-NwsBEyZqZnPc9OaCFJSsw">Rilès</a></i>
            </p>
        </center>

    </div><!--//summary-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Research Engineer</h3>
                <div class="time">December 2019 - Now</div>
            </div><!--//upper-row-->
            <div class="company">Université Côte d'Azur (UCA)</div>
        </div><!--//meta-->
        <div class="details">
            Development of an implementation of a recruitment method by simulation.
            This platform binds together unemployed people that look for a job, a job offer made by companies and a dedicated training for this couple person/job.
        </div><!--//details-->
        <div class="details">
            I'm also working on a simulation tool for autonomous vehicles.
        </div><!--//details-->


    </div><!--//item-->

</section><!--//section-->