<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Summary</h2>
    <div class="summary">
        <center>
            <p>“O sed fugit interea fugit irreparabile tempus audeamus nunc.” <i class="fa fa-hourglass-half"></i>
                ― <i><a href="https://www.youtube.com/channel/UC-NwsBEyZqZnPc9OaCFJSsw">Rilès</a></i>
            </p>
        </center>

    </div><!--//summary-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Research Engineer</h3>
                <div class="time">September 2020 - Now</div>
            </div><!--//upper-row-->
            <div class="company"><a href="https://www.davidson.eu/">Davidson Consulting</a></div>
        </div><!--//meta-->
        <div class="details">
          Tools development to measure the energy consumption (in joules) within the CI/CD.
          The objective is to identify practices and/or libraries that consume more energy,
          and propose to developers a new way of coding to reduce this energy consumption.
        </div><!--//details-->
        <div class="details">
          This mission falls in the partnership with Inria Lille-Nord Europe, in particular with
          <a href="https://team.inria.fr/spirals/">Spirals</a>.
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
