<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Summary</h2>
    <div class="summary">
        <p>“Life is really simple, but we insist on making it complicated.”
            ― <i>Confucius</i>
        </p>

    </div><!--//summary-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">PhD Student - STAMP</h3>
                <div class="time">December 2016 - Present</div>
            </div><!--//upper-row-->
            <div class="company">Inria, Spirals team</div>
        </div><!--//meta-->
        <div class="details">

        </div><!--//details-->

    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href=https://people.rennes.inria.fr/Benoit.Baudry/stamp-a-new-h2020-project/>STAMP</a></span>
        - <span class="project-tagline">Software Testing AMPlification: existing test cases contains a lot of knowledge
        about the program itself. The idea is to exploit all this knowledge to generate new test cases for instance.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href=https://github.com/STAMP-project/dspot>DSpot</a></span>
        - <span class="project-tagline">DSpot is a test suite amplifier. It takes as input a project and its test suite and will produce test cases according to a test criterion adequacy such as branch coverage or mutation score.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href=https://github.com/STAMP-project/AssertFixer>AssertFixer</a></span>
        - <span class="project-tagline">AssertFixer aims at fix the assertion in a test suite, using the program as specifications.</span>
    </div><!--//item-->

    <!--<div class="item">
        <span class="project-title"><a href="https://github.com/DIVERSIFY-project/dspot">DSpot</a></span>
        - <span class="project-tagline">DSpot aims to checks if two version </span>
    </div>--><!--//item-->

</section><!--//section-->