<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Research Engineer</h3>
                <div class="time">September 2016 - November 2016</div>
            </div><!--//upper-row-->
            <div class="company">Inria Lille, Spirals team</div>
        </div><!--//meta-->
        <div class="details">
            <p>Development of <a href="http://github.com/SpoonLabs/nopol">Nopol</a>, an automatic repair tool for java. </p>
            <p>Development of an IDEA <a href="https://github.com/SpoonLabs/nopol-ui-intellij">plugin</a> to run Nopol inside the IDE</p>
        </div><!--//details-->

    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Internship</h3>
                <div class="time">March 2016 - August 2016</div>
            </div><!--//upper-row-->
            <div class="company">Inria Lille, Spirals team</div>
        </div><!--//meta-->
        <div class="details">
            <p>Exploring the Perturbability Envelope in Software: <a href="http://127.0.0.1:4000/resources/correctness_attraction_report.pdf" target="_blank">Correctness Attraction report</a></p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Research Engineer</h3>
                <div class="time">June 2016 - June 2016</div>
            </div><!--//upper-row-->
            <div class="company">CRIStAL, Emeraude team</div>
        </div><!--//meta-->
        <div class="details">
            <p>Development of <a href="https://sourcesup.renater.fr/projects/n2s3/">N2S3</a>: a <b>N</b>eural <b>N</b>etwork <b>S</b>calable <b>S</b>piking <b>S</b>imulator.</p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->