<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">PhD Candidate</h3>
                <div class="time">December 2016 - November 2019</div>
            </div><!--//upper-row-->
            <div class="company">Inria Lille, Spirals team</div>
        </div><!--//meta-->
        <div class="details">
           <p>
               Software Testing AMPlification (STAMP): is funded European Commission - H2020. STAMP works in DevOps and agile methods and aims at improving the value of testing at different step of the application's lifecycle.
           </p>
            Behind STAMP, there are 3 main activities:
            <ol>
                <li>Unit test amplification: exploiting existing unit test to generate better variants or new test method that improve the overall test suite's quality, <i>e.g.</i> increase the branch coverage.</li>
                <li>Configuration amplification: exploiting existing configuration test to create variants and execute the application in various configurations before production.</li>
                <li>Production amplification: exploiting production information to achieve specific tasks such as crash reproduction.</li>
            </ol>
        </div><!--//details-->
        <div class="item">
            <p>
                My research is mostly focused on unit test amplification. I am exploiting existing test methods to create variants to increase the mutation score, detects automatically behavioral change, etc.
            </p>
            <p>
                My work takes place within this project and is applied directly to the partners' code base.
                During my research, I develop strong prototypes and apply several software engendering methods: agility, unit testing, continuous integration, pull request development, bug tracker, etc.
            </p>
	    <p>
		The manuscript is available <a href='https://tel.archives-ouvertes.fr/tel-02396530'>here</a>.
	    </p>
	    <p>
		The slides of my defense are available <a href='https:/danglotb.github.io/resources/slides_defense_phd.pdf' target='_blank'>here</a>
	   </p>	
        </div><!--//item-->

    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Research Engineer</h3>
                <div class="time">September 2016 - November 2016</div>
            </div><!--//upper-row-->
            <div class="company">Inria Lille, Spirals team</div>
        </div><!--//meta-->
        <div class="details">
            <p>Development of <a href="http://github.com/SpoonLabs/nopol">nopol</a> is an automatic repair tool for java program.
                Nopol fixes conditional and pre-condition bug, using the test suite. A IDEA <a href="https://github.com/SpoonLabs/nopol-ui-intellij">plugin</a> allows
                to developer to use nopol directly in their IDE.
            </p>
        </div><!--//details-->

    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Internship</h3>
                <div class="time">March 2016 - August 2016</div>
            </div><!--//upper-row-->
            <div class="company">Inria Lille, Spirals team</div>
        </div><!--//meta-->
        <div class="details">
            <p>Exploring the Perturbability Envelope in Software:</p>
            <p>Perturbation is change in the state of a system at runtime. Such changes has a surprisingly low impact on the correctness (final output) of system according to our study.
                Does the equilibrium of the correctness of software is naturally present? </p>
            <p><a href="https://danglotb.github.io/resources/correctness_attraction_report.pdf" target="_blank">Correctness Attraction report</a></p>
            <p>A live demo available on this <a href="https://danglotb.github.io/resources/correctness-attraction/live-demo.html">link</a>.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Research Engineer</h3>
                <div class="time">June 2016 - June 2016</div>
            </div><!--//upper-row-->
            <div class="company">CRIStAL, Emeraude team</div>
        </div><!--//meta-->
        <div class="details">
            <p>Development of <a href="https://sourcesup.renater.fr/projects/n2s3/">N2S3</a>: a <b>N</b>eural <b>N</b>etwork <b>S</b>calable <b>S</b>piking <b>S</b>imulator.
                Written in scala and using akka actors, N2S3 scale up and allow users to the simulate of neuro-inspired hardware accelerators. N2S3 got a real time UI to monitor the
            current state of the neuronal network.</p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
