<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Research Engineer</h3>
                <div class="time">September 2016 - November 2016</div>
            </div><!--//upper-row-->
            <div class="company">Inria Lille, Spirals team</div>
        </div><!--//meta-->
        <div class="details">
            <p>Development of <a href="http://github.com/SpoonLabs/nopol">nopol</a> is an automatic repair tool for java program.
                Nopol fixes conditional and pre-condition bug, using the test suite. A IDEA <a href="https://github.com/SpoonLabs/nopol-ui-intellij">plugin</a> allows
                to developer to use nopol directly in their IDE.
            </p>
        </div><!--//details-->

    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Internship</h3>
                <div class="time">March 2016 - August 2016</div>
            </div><!--//upper-row-->
            <div class="company">Inria Lille, Spirals team</div>
        </div><!--//meta-->
        <div class="details">
            <p>Exploring the Perturbability Envelope in Software:</p>
            <p>Perturbation is change in the state of a system at runtime. Such changes has a surprisingly low impact on the correctness (final output) of system according to our study.
                Does the equilibrium of the correctness of software is naturally present? </p>
            <p><a href="https://danglotb.github.io/resources/correctness_attraction_report.pdf" target="_blank">Correctness Attraction report</a></p>
            <p>A live demo available on this <a href="https://danglotb.github.io/resources/correctness-attraction/live-demo.html">link</a>.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Research Engineer</h3>
                <div class="time">June 2016 - June 2016</div>
            </div><!--//upper-row-->
            <div class="company">CRIStAL, Emeraude team</div>
        </div><!--//meta-->
        <div class="details">
            <p>Development of <a href="https://sourcesup.renater.fr/projects/n2s3/">N2S3</a>: a <b>N</b>eural <b>N</b>etwork <b>S</b>calable <b>S</b>piking <b>S</b>imulator.
                Written in scala and using akka actors, N2S3 scale up and allow users to the simulate of neuro-inspired hardware accelerators. N2S3 got a real time UI to monitor the
            current state of the neuronal network.</p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->