<div class="languages-container container-block">
<h2 class="container-block-title">Languages</h2>
<ul class="list-unstyled interests-list">
    <li>French <span class="lang-desc">(Native)</span></li>
    <li>English <span class="lang-desc">(Professional)</span></li>
</ul>
</div><!--//interests-->

<div class="education-container container-block">
    <h4 class="container-block-title"><a href="{{site.baseurl}}/resources/state-of-the-art/index.html">State of the Art</a></h4>
    <h4 class="container-block-title"><a href="{{site.baseurl}}/resources/teaching/index.html">Teaching (FR)</a></h4>
</div><!--//education-container-->