<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

    <div class="intro">
        <p>Contributions</p>
    </div><!--//intro-->

    <div class="item">
        <span class="project-title"><a href="http://github.com/SpoonLabs/nopol">Nopol</a></span> - <span
            class="project-tagline">Automatic repair tool in Java</span>

    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="https://github.com/SpoonLabs/nopol-ui-intelli">nopol-ui-intellij</a></span>
        - <span class="project-tagline">IDEA plugin to run Nopol</span>

    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="http://github.com/INRIA/spoon">Spoon</a></span> - <span
            class="project-tagline">Source Code Analysis and Transformation for Java</span>

    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="http://github.com/Spirals-Team/jPerturb">jPerturb</a></span> - <span
            class="project-tagline">Does changing the state of a program impact the correctness? See <a
            href="http://github.com/Spirals-Team/jPerturb-experiments">jPerturb-experiments</a> also</span>

    </div><!--//item-->

</section><!--//section-->