<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-book"></i>Publications</h2>

    <div class="item">
        <b>Benjamin Danglot</b>, Philippe Preux, Benoit Baudry, and Martin Monperrus. <a
            href="https://link.springer.com/article/10.1007/s10664-017-9571-8">Correctness attraction: a study of
        stability of software behavior under runtime perturbation</a>.<i>Empirical Software Engineering</i>,
        23(4):2086–2119, Aug 2018.
    </div>

    <div class="item">
        Benjamin Danglot, Oscar Vera-Perez, Zhongxing Yu, Martin Monperrus, and Benoit Baudry. <a
            href="https://arxiv.org/abs/1705.10692">The emerging field of test amplification: A survey</a>. CoRR,
        abs/1705.10692, 2017. (pre-print)
    </div><!--//item-->

    <div class="item">
        Benjamin Danglot, Oscar Luis Vera-Pérez, Benoit Baudry, and Martin Monperrus.<a
            href="https://arxiv.org/abs/1811.08330">Automatic test improvement with dspot: a study with ten mature
        open-source projects</a>. CoRR, abs/1811.08330, 2018. (pre-print, to be published in EmSE'19)
    </div><!--//item-->

    <div class="item">
        Oscar Luis Vera-Pérez, Benjamin Danglot, Martin Monperrus, and Benoit Baudry. <a
            href="https://link.springer.com/article/10.1007/s10664-018-9653-2">A comprehensive study of pseudo-tested
        methods</a>. Empirical Software Engineering, Sep 2018.
    </div><!--//item-->
    <div class="item">
        Zhongxing Yu, Matias Martinez, Benjamin Danglot, Thomas Durieux, and Martin Monperrus. <a
            href="https://link.springer.com/article/10.1007/s10664-018-9619-4">Alleviating patch overfitting with
        automatic test generation: a study of feasibility and effectiveness for the nopol repair system</a>. Empirical
        Software Engineering, May 2018.
    </div><!--//item-->


</section><!--//section-->