<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-book"></i>Publications</h2>

    <div class="item">
        Correctness Attraction: A Study of Stability of Software Behavior Under Runtime Perturbation: <a href="https://arxiv.org/abs/1611.09187" >pre-print</a>.
    </div><!--//item-->

    <div class="item">
        Correctness Attraction:<a href="https://danglotb.github.io/resources/correctness-attraction/live-demo.html" >Live-Demo</a>.
    </div><!--//item-->

    <div class="item">
        Test Case Generation for Program Repair: A Study of Feasibility and Effectiveness : <a href="https://arxiv.org/abs/1703.00198" >pre-print</a>.
    </div><!--//item-->

</section><!--//section-->