<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-book"></i>Publications (reverse chronological order)</h2>

    <div class="item">
        <b>Benjamin Danglot</b>, Oscar Luis Vera-Pérez, Benoit Baudry, and Martin Monperrus.<a
            href="https://link.springer.com/article/10.1007/s10664-019-09692-y">Automatic test improvement with dspot: a
        study with ten mature
        open-source projects</a>. <i>Empirical Software Engineering</i>, April 2019.
    </div><!--//item-->

    <div class="item">
        <b>Benjamin Danglot</b>, Martin Monperrus, Walter Rudametkin, and Benoit Baudry <a
            href="https://arxiv.org/abs/1902.08482">An Approach and Benchmark to Detect Behavioral Changes of Commits in
        Continuous Integration
    </a>. <i>arXiv</i>, February 2019. (pre-print)
    </div><!--//item-->

    <div class="item">
        Oscar Luis Vera-Pérez, <b>Benjamin Danglot</b>, Martin Monperrus, and Benoit Baudry. <a
            href="https://link.springer.com/article/10.1007/s10664-018-9653-2">A comprehensive study of pseudo-tested
        methods</a>. <i>Empirical Software Engineering</i>, Sep 2018.
    </div><!--//item-->

    <div class="item">
        <b>Benjamin Danglot</b>, Philippe Preux, Benoit Baudry, and Martin Monperrus. <a
            href="https://link.springer.com/article/10.1007/s10664-017-9571-8">Correctness attraction: a study of
        stability of software behavior under runtime perturbation</a> .<i>Empirical Software Engineering</i>, Aug 2018.
    </div>

    <div class="item">
        <b>Benjamin Danglot</b>, Oscar Vera-Perez, Zhongxing Yu, Martin Monperrus, and Benoit Baudry. <a
            href="https://arxiv.org/abs/1705.10692">A Snowballing Literature Study on Test Amplification</a> .
        <i>arXiv</i>, February 2019. (pre-print)
    </div><!--//item-->

    <div class="item">
        Zhongxing Yu, Matias Martinez, <b>Benjamin Danglot</b>, Thomas Durieux, and Martin Monperrus. <a
            href="https://link.springer.com/article/10.1007/s10664-018-9619-4">Alleviating patch overfitting with
        automatic test generation: a study of feasibility and effectiveness for the nopol repair system</a>. <i>Empirical
        Software Engineering</i>, May 2018.
    </div><!--//item-->

</section><!--//section-->