<!-- Use icons from fontawesome when you are adding new item in the contact list  -->


<div class="sidebar-wrapper">
    <div class="profile-container">
        <a href="{{site.baseurl}}/index.html" ><img class="profile"
             src="{{site.baseurl}}/assets/images/{% if site.pic %}{{ site.pic }}{% else %}profile.png{% endif %}"
             alt="profile picture"/></a>
        <h1 class="name">{{site.name}}</h1>
        <h3 class="tagline">{{site.tagline}}</h3>
    </div><!--//profile-container-->

    <div class="contact-container container-block">
        <ul class="list-unstyled contact-list">
            <li class="email"><i class="fa fa-envelope"></i><a href="mailto:{{site.email}}">{{site.email}}</a></li>
            <!--<li class="phone"><i class="fa fa-phone"></i><a href="tel:{{site.phone}}">{{site.phone}}</a></li>-->
            <li class="github"><i class="fa fa-github"></i><a href="http://github.com/{{site.github}}" target="_blank">github.com/{{site.github}}</a></li>
            <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/{{site.twitter}}" target="_blank">{{site.twitter}}</a></li>
        </ul>
    </div><!--//contact-container-->

    <div class="education-container container-block">
        <h2 class="container-block-title">Education</h2>
        <div class="item">
            <h4 class="degree">MSc in Computer Science</h4>
            <h5 class="meta">University Lille 1</h5>
            <div class="time">2014 - 2016</div>
        </div><!--//item-->
        <div class="item">
            <h4 class="degree">BSc in Computer Science</h4>
            <h5 class="meta">University Lille 1</h5>
            <div class="time">2011 - 2014</div>
        </div><!--//item-->
    </div><!--//education-container-->

    <div class="languages-container container-block">
        <h2 class="container-block-title">Languages</h2>
        <ul class="list-unstyled interests-list">
            <li>French <span class="lang-desc">(Native)</span></li>
            <li>English <span class="lang-desc">(Professional)</span></li>
        </ul>
    </div>

    <div class="education-container container-block">
        <h4 class="container-block-title"><a href="https://danglotb.github.io/resources/resume.pdf" target="_blank">Resume</a></h4>
    </div>
    <div class="education-container container-block">
        <h4 class="container-block-title"><a href="{{site.baseurl}}/resources/state-of-the-art/index.html">State of the Art</a></h4>
    </div>
    <div class="education-container container-block">
        <h4 class="container-block-title"><a href="{{site.baseurl}}/resources/correctness-attraction/live-demo.html">Correctness Attraction Live-Demo</a></h4>
    </div>
    <div class="education-container container-block">
        <h4 class="container-block-title"><a href="{{site.baseurl}}/resources/dci/index.html">DCI webpage</a></h4>
    </div>

</div><!--//sidebar-wrapper-->
