<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>

    <div class="skillset">
        <div class="item">
            <h3 class="level-title">Java</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="75%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Scala &amp Akka</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="55%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Python</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="45%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Inkscape</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="30%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

    </div>

</section>
<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-cog" aria-hidden="true"></i>Master's speciality</h2>

    <div class="intro">
        <p>During my second year of Master, I followed Complex model, algorithm and data. <a
                href="http://portail.fil.univ-lille1.fr/portail/index.php?dipl=MInfo&sem=MOCAD&ue=ACCUEIL&label=Pr%C3%A9sentation">(fr)</a>
        </p>
        <p></p>
    </div><!--//intro-->

    <div class="skillset">
        <div class="item">
            <h3 class="level-title">Machine learning</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Discrete Optimization (mono and multi objective)</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Bioinformatic</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="75%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Multi-agent system</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Graph Database, ontology and first-order logic</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="60%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

    </div>

</section><!--//skills-section-->