<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-chalkboard-teacher"></i>Talks</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title"><a href="https://www.stamp-project.eu/view/Blog/STAMP_Workshop_Sophia_Antipolis">STAMP open workshop</a></h3>
                <div class="time">January 30, 2019</div>
            </div><!--//upper-row-->
            <div class="company">Sophia-Antipolis</div>
        </div><!--//meta-->
        <div class="details">
            <p>Presentation of DSpot. <a href="https://danglotb.github.io/resources/DSpot_tuto_Sophia_2019.pdf" target="_blank">slides</a></p>
            <p>Animation of an hands-on session around the usage of DSpot. <a href="https://github.com/STAMP-project/dspot-hands-on">GitHub repository</a></p>
        </div><!--//details-->

    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title"><a href="https://www.stamp-project.eu/view/main/STAMP_Workshop_Dec2017_Madrid">STAMP open workshop</a></h3>
                <div class="time">December 14, 2017</div>
            </div><!--//upper-row-->
            <div class="company">Madrid</div>
        </div><!--//meta-->
        <div class="details">
            <p>Presentation of DSpot: a test suite amplification tool. <a href="https://fr.slideshare.net/BenjaminDanglot/dspot-test-amplification-for-java">slides</a></p>
        </div><!--//details-->

    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title"><a href="https://www.chaos.conf.kth.se/">European Chaos Engineering Days</a></h3>
                <div class="time">December 6, 2017</div>
            </div><!--//upper-row-->
            <div class="company">Kungliga Tekniska Högskolan (KTH)</div>
        </div><!--//meta-->
        <div class="details">
            <p>Presentation of Correctness Attraction: A Study of Stability of Software Behavior Under Runtime Perturbation. <a href="https://fr.slideshare.net/BenjaminDanglot/correctness-attraction-kth2017">slides</a></p>
        </div><!--//details-->

    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title"><a href="https://www.ow2con.org/bin/view/2017/">OW2Con'17</a></h3>
                <div class="time">June 26-27, 2017</div>
            </div><!--//upper-row-->
            <div class="company">Orange Gardens Innovation Center, Paris - Châtillon</div>
        </div><!--//meta-->
        <div class="details">
            <p>Presentation of <a href="https://github.com/INRIA/spoon">Spoon</a>, a library to analyze and transform java code in java. (<a href="https://www.youtube.com/watch?v=JcCIbjnkfD4">link to Youtube</a>)</p>
            <p>During the event, Spoon received the <i>Community Award</i> of <a href="https://www.ow2con.org/view/2017/Awards_Results?year=2017&event=OW2con17">OW2Con'17</a>.</p>
        </div><!--//details-->

    </div><!--//item-->

</section><!--//section-->