<div class="d-flex flex-row row p-2">
  <h3 class="mr-3">
    <a class="nes-btn" href="{{ .Site.BaseURL }}">Home</a>
  </h3>
  <h3 class="mr-3">
    <a href="{{ `publications` | relURL }}">Publications</a>
  </h3>
  <h3 class="mr-3">
    <a href="{{ `projects` | relURL }}">Projects</a>
  </h3>
  <h3 class="mr-3">
    <a href="{{ `teaching` | relURL }}">Teaching</a>
  </h3>
  <h3 class="mr-3">
    <a href="{{ `misc` | relURL }}">Misc.</a>
  </h3>
  <h3 class="mr-3">
    <a href="{{ `stoa` | relURL }}">State of the art</a>
  </h3>
  <h3 class="mr-3">
    <a href="{{ `blog` | relURL }}">Blog</a>
  </h3>
</div>
